# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
*.tfstate
*.tfstate.backup
terraform/terraform.tfvars
*.tfvars

# Packer output
packer/output/

# SSH keys
*.pem
id_rsa
id_ed25519

# Observability secrets
observability/prometheus/.vault-token

# IDE
*.swp
.vscode/
.idea/
